{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
    <title>Home</title>
    <meta name="Description" content="Компания "{{ contactuser.name }}". У нас вы можете приобрести: профнастил, доборные элементы, металлочерепицу, водосточные системы, утеплитель, комплектующие." />
</head>


<body>
    <!--
    <header  style="background: white; padding: 20px;">

            <div class="row">
                <div class="col" style="position: relative;">
                    <div style="position: absolute; top: 35%; font-size: 25px;">ПромКомплект</div>
                </div>
                <div class="col" style="text-align: right;">
                    <p style="margin: 0;"> ул.Связистов 30б, оф. 211  <b>  Тел: +7(391)287-17-18</b></p>
                    <p style="margin: 0;"> ул.Томская 4, стр. 5 оф. 417  <b>  Тел: +7(391)287-13-14</b></p>
                    <p style="margin: 0;"> <b>Е-mail: pk124@list.ru/</b></p>
                </div>
            </div>

    </header>
    -->

    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background: white; box-shadow: 0 2px 4px rgba(0, 0, 0, .2);">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'myshop:home' %}">LitBiz-Market</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="{% url 'myshop:home' %}">Home</a>
              <a class="nav-link" href="{% url 'myshop:category' %}">Категории</a>
              <a class="nav-link" href="{% url 'myshop:products' %}">Продукция</a>
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </div>
          </div>
        </div>
    </nav>


    <section style="background: rgb(246,246,246); width: 100%; overflow: hidden; padding-top: 20px;">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
                <a href="{% url 'myshop:sergey' %}" style="text-decoration: none; color: white;">
                <div class="center">
                    Станки лазерной резки
                </div>
                </a>
                <img src="/static/img/home/lcm.jpg" class="card-img-top" alt="...">
            </div>

            <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-12" style="padding-bottom: 20px;">
                <a href="{% url 'myshop:cryobak' %}">
                    <div class="center">
                        Криогенное оборудование
                    </div>
                    <img src="/static/img/home/cryobak.jpg" class="card-img-top" alt="...">
                </a>
            </div>

            <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-12" style="padding-bottom: 20px;">
                <a href="{% url 'myshop:hypower' %}">
                    <div class="center">
                        Расходники для лазерных и плазменных станков
                    </div>
                    <img src="/static/img/home/hypower.jpg" class="card-img-top" alt="...">
                </a>
            </div>

            <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-12" style="padding-bottom: 20px;">
                <a href="{% url 'myshop:in_cad' %}">
                    <div class="center">
                        Конструкторское бюро
                    </div>
                    <img src="/static/img/home/in-cad.jpg" class="card-img-top" alt="...">
                </a>
            </div>
            <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-12" style="padding-bottom: 20px;">
                <a href="{% url 'myshop:plazmakroy' %}">
                    <div class="center">
                        Станки плазменной резки
                    </div>
                    <img src="/static/img/home/plasmakroy.jpg" class="card-img-top" alt="...">
                </a>
            </div>
            <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-12" style="padding-bottom: 20px;">
              <a href="{% url 'myshop:contacts' %}">
                <div class="center">
                    Подробнее
                </div>
                <img src="/static/img/home/freeplace.jpg" class="card-img-top" alt="...">
              </a>
            </div>
        </div>

    </section>


    <footer role="contentinfo">
        <div class="container" style="color: aliceblue;">
            <div class="row">
                <div class="col" style="position: relative;">
                    <div style="position: absolute; top: 35%;">LitBiz-Market</div>
                </div>
                <div class="col" style="text-align: right;">
                    <p style="margin: 0;">+7(999)999-9999</p>
                    <p style="margin: 0;">999-99-99</p>
                    <p style="margin: 0;">litbiz@mail.ru</p>
                </div>
            </div>
        </div>
    </footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>
